// Renkler
$color-gray: #5F6D7E;
$color-dark: #272D37;
$color-blue: #437EF7;
$color-green: #2D8A39;
$color-white: #FFFF;
$color-red: #E2341D;

// Arkaplan Renkleri 
$bg-color-dark: #151B28;
$bg-color-gray: #2E3545;
$bg-color-white: #EAEBF0;

// Dark Mode Renkleri
$color-gray-dark: #A5ACBA;
$color-black-dark: #1C2534;
$color-blue-dark:#5390F8;
$color-green-dark:#5DC264;
$color-white-dark:#F9F9F9;
$color-red-dark:#F04438;

// Font Boyutları
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-28: 28px;

// Font Ağırlıkları
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;